body {
    background-color: beige;  
}

.header {
    background-color: #47484b;
    padding: 20px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}
.container::after, .container::before{
    content: "";
    display: table;
    clear: both;
}

/* Menu */

li{
    list-style: none;
}
body {
    font-family: Georgia, sans-serif;
}

a {
    /*remover linha do texto*/
    text-decoration: none; 
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.menu-logo {
    float:left;
    display: block;
}

.menu-nav{
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 2px;
    color: #fff;
    display: block;
    font-size: 1.125em;
}


/*Intro*/
.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
}
.intro {
    background: url(../img/bg-intro.jpg), no-repeat, center, center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 60px;
}

.intro h1::after {
    content: "";
    display: table;
    clear: both;
    width: 50px;
    height: 6px;
    margin: 0 auto;
    background: #fff;
}
/* Sobre */

.sobre {
    padding: 45px;
}
.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre-item{
   width: 460px;
    float: left;
    margin: 0 10px; 
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    background-color: dimgrey;
    color: white;
    float: left;
    padding: 10px 5px;
    font-size: 2.25em;
    margin: 0;
    position: relative;
    top: -30px;
}

/* Produtos */

.produtos {
    border-top: #E88501 4px solid;
    border-bottom: #E88501 4px solid;
    background: #E7EDF8;
    text-align: center;
    padding: 60px 0;
}
.produtos-item {
    float: left;
    width: 300px;
    padding: 0 10px 20px 20px;
}

.produtos-item h2 {

    text-align: center;
    font-size: 2.25em;
    margin-bottom: 25px;
}

.produtos-item h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: currentcolor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7edf8;
    box-shadow: 0 0 0 5px currentcolor;
}

h2.produtos-paulista::before {
    color: #A96304;
}

h2.produtos-carioca::before {
    color: #DFD6C5;
}

h2.produtos-mineiro::before {
    color: #573104;
}

.produtos-btn{
    background: red;
    display: inline-block;
}

