body {
    background-color: beige;  
}

.header {
    background-color: #47484b;
    padding: 20px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}
.container::after, .container::before{
    content: "";
    display: table;
    clear: both;
}

/* Menu */

li{
    list-style: none;
}
body {
    font-family: Georgia, sans-serif;
}

a {
    /*remover linha do texto*/
    text-decoration: none; 
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.menu-logo {
    float:left;
    display: block;
}

.menu-nav{
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 2px;
    color: #fff;
    display: block;
    font-size: 1.125em;
}


/*Intro*/
.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
}
.intro {
    background: url(../img/bg-intro.jpg), no-repeat, center, center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 60px;
}

.intro h1::after {
    content: "";
    display: table;
    clear: both;
    width: 50px;
    height: 6px;
    margin: 0 auto;
    background: #fff;
}
/* Sobre */

.sobre {
    padding: 45px;
    text-align: center;
}
.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre-item{
   width: 460px;
    float: left;
    margin: 0 10px; 
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    background-color: dimgrey;
    color: white;
    float: left;
    padding: 10px 5px;
    font-size: 2.25em;
    margin: 0;
    position: relative;
    top: -30px;
}

/* Produtos */

.produtos {
    border-top: #E88501 4px solid;
    border-bottom: #E88501 4px solid;
    background: #E7EDF8;
    text-align: center;
    padding: 60px 0;
}
.produtos-item {
    float: left;
    width: 250px;
    padding: 0 10px 20px 20px;
}

.produtos-item h2 {

    text-align: center;
    font-size: 2.25em;
    margin-bottom: 25px;
}

.produtos-item h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: currentcolor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7edf8;
    box-shadow: 0 0 0 5px currentcolor;
}

h2.produtos-paulista::before {
    color: #A96304;
}

h2.produtos-carioca::before {
    color: #DFD6C5;
}

h2.produtos-mineiro::before {
    color: #573104;
}

.produtos-btn{
    width: 180px;
    border: 3px solid #252525;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    color: #252525;   
}



/*   Locais   */

.locais {
   max-width: 960px;
    margin: 0 auto;
    padding: 60px 0; 
}

.locais-item {
    margin: 20px auto;
}

.locais-item::after, .locais-item::before{
    clear: both;
    content: "";
    display: table;
    
}

.locais-item img{
    width:460px;
    float: left;
    display: block;
    margin: 0 10px;  
}

.locais-item > div{
    width:460px;
    float: left;
    margin: 0 10px;  
}

.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

.locais-item p{
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
    border: none;
}


/*  Assine News */

.assine {
    background: #DFD6C5;
    padding: 30px 0;

}


.assine-container {
    max-width: 960px;
    margin: 0 auto;
}


/*Clear flix so e necessario quando
os elementos estao flutuando
*/
.assine-container::after, .assine-container::before {
    content: '';
    display: table;
    clear: both;
}

.assine-info {
    width: 460px;
    margin: 0 10px;
    float: left;
 }

.assine-info h2 {
    font-size: 2.25em;
}

.assine-info p {
    font-size: 1.5em;
    font-style: italic;
}

.assine form {
    width: 460px;
    float: left;
    margin: 50px 0px 50px;
}


.assine form label {
display: none;
}

.assine input {
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}

.assine button {
    background: #252525;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 140px;
    padding: 13px 0;
    color: white;
}

/*Footer parte final do site*/

.footer {
    background: gray;
    padding: 50px 0 ;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

.footer p {
    max-width: 460px;
    float: left;
    margin: 0 auto;
    font-size: 1.125em;
}

.footer img {
    float: right;
    margin: 0 10px;
    display: block;
}

/*Clear fix*/
.footer-container::after, .footer-container::before {
    content: '';
    display: table;
    clear: both;
}